{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="banners">
    {% for banner in banners %}
    <div class="banner">
        <a href="{{banner.url}}">
            <img src="{{banner.image.url}}" alt="">
        </a>
    </div>
    {% endfor %}
</div>
<div class="list_goods">
    <div class='fltrs'>
        <div class="filter-toggle">ФИЛЬТРЫ</div>
        <div class="filter-area">
            <form method="GET" action="{% url 'goods:accessories' %}">
                <div class='filter-srch'>
                    <input type="text" name="search_query" placeholder="Поиск по названию..." value="{{ request.GET.search_query }}">
                </div>
                <div class='filter-price'>
                    <input type="number" name="min_price" placeholder="Цена от" value="{{ request.GET.min_price }}">
                    <input type="number" name="max_price" placeholder="Цена до" value="{{ request.GET.max_price }}">
                </div>
                <div class='filter-brd'>
                    <label for="brands">Бренды:</label>
                    <select name="brands" id="brands" multiple>
                        {% for brand in brands %}
                        <option value="{{ brand.id }}" {% if brand.id|stringformat:"s" in request.GET.brands %}selected{% endif %}>{{ brand.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class='filter-models'>
                    <label for="models">Модели:</label>
                    <select name="models" id="models" multiple>
                        {% for model in models %}
                        <option value="{{ model.id }}" {% if modelid|stringformat:"s" in request.GET.models %}selected{% endif %}>{{ model.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class='filter-btn'>
                    <button type="submit">Фильтровать</button>
                </div>
            </form>
        </div>
    </div>

{% if flag %}
    <div class="blocks-catalog">
        {% for good in goods %}
        <div class="content-block">
            <a href="{% url 'goods:accessory' good.id %}">
            <div class="photo">
                <img src="{{good.images.url}}" alt="">
            </div>
            <div class="info">
                <h3>{{good.brand}}</h3>
                <p>{{good.name}}</p>
                <p>ОТ {{good.price}} ₸</p>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="pagination">
    <div class="step-links">
        {% if goods.has_previous %}
            <div class="arrow">
                <a href="?page={{ goods.previous_page_number }}"><img src="{% static 'images/footer/left.svg' %}" alt=""></a>
            </div>
            <div class="previous_page">
                <a href="?page={{ goods.previous_page_number }}">{{ goods.previous_page_number }}</a>
            </div>
        {% endif %}

        <div class="current">
            <a>{{ goods.number }}</a>
        </div>

        {% if goods.has_next %}
            <div class="next_page">
                <a href="?page={{ goods.next_page_number }}">{{ goods.next_page_number }}</a>
            </div>
            <div class="arrow">
                <a href="?page={{ goods.next_page_number }}"><img src="{% static 'images/footer/right.svg' %}" alt=""></a>
            </div>
            {% comment %} <a href="?page={{ goods.paginator.num_pages }}">&raquo;</a> {% endcomment %}
        {% endif %}
        </div>
</div> 
{% else %}
</div>
<a href="https://t.me/highend_hill">
    <div class="not-found">
        <div class="first-part"><h4>В КАТАЛОГЕ НЕТ ИНТЕРЕСУЮЩЕЙ МОДЕЛИ?</h4></div>
        <div class="second-part"><h4>ВЫ ВСЕГДА МОЖЕТЕ ОФОРМИТЬ ИНДВИДУАЛЬНЫЙ ЗАКАЗ, НАПИСАВ НАШЕМУ МЕНЕДЖЕРУ</h4></div>
        <!-- <img src="static/images/header/info.png" alt=""> -->
    </div>
</a>
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const selectedBrand = '{{ request.GET.brand }}';
        const selectedSize = '{{ request.GET.sizes }}';
        document.querySelector('select[name="brand"]').value = selectedBrand;
        document.querySelector('select[name="sizes"]').value = selectedSize;
    });
    document.addEventListener("DOMContentLoaded", function() {
        var filterToggles = document.querySelectorAll('.filter-toggle');
    
        filterToggles.forEach(function(toggle) {
            toggle.addEventListener('click', function() {
                var filterArea = this.nextElementSibling;
                this.classList.toggle('active');
                filterArea.classList.toggle('active');
            });
        });
    });
    
</script>

{% endblock main %}