{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Main page</title>
</head>
<body>
    <div class="container">
        <div class="upper">
        <header>
            <div class="header-block">
                <div class="logo">
                    <a href="{% url "goods:index" %}">
                    <img src="{% static 'images/header/logo.svg' %}" alt="">
                    </a>
                </div>
                <nav class="nav-1">
                    <div class="nav-item">
                        <p>SALE</p>
                    </div>
                    <div class="nav-item">
                        <a href="{% url "goods:catalog" %}"><p>ОБУВЬ</p></a>
                    </div>
                    <div class="nav-item">
                        <p>ОДЕЖДА</p>
                    </div>
                    <div class="nav-item">
                        <p>АКСЕССУАРЫ</p>
                    </div>
                    <div class="nav-item">
                        <p>ИНФОРМАЦИЯ</p>
                    </div>
                </nav>
                <div class="icons">
                    <div class="icon"><img src="{% static 'images/header/Vector-4.svg' %}" alt=""></div>
                    <div class="icon"><img src="{% static 'images/header/Vector-3.svg' %}" alt=""></div>
                    <div class="icon"><img src="{% static 'images/header/Vector-2.svg' %}" alt=""></div>
                    <div class="icon"><img src="{% static 'images/header/Vector.svg' %}" alt=""></div>
                </div>
            </div>
        </header>
        <div class="banners">
            {% for banner in banners %}
            <div class="banner">
                <img src="{{banner.image.url}}" alt="">
            </div>
            {% endfor %}
        </div>


        <div class="list_goods">
            <div class="text-area">
                <div class="all">
                    <form method="GET" action="{% url 'goods:catalog' %}">
                        <input type="text" name="search_query" placeholder="Поиск...">
                        <select name="brand">
                            <option value="">All Brands</option>
                            {% for brand in brands %}
                                <option value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Применить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="blocks">
            {% for good in goods %}
            <div class="content-block">
                <div class="photo">
                    <img src="{{good.images.url}}" alt="">
                </div>
                <div class="info">
                    <h3>{{good.name}}</h3>
                    {% comment %} <p>{{good.description}}</p> {% endcomment %}
                    <p>ОТ {{good.price}} ₸</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <div class="step-links">
                {% if goods.has_previous %}
                    <div class="arrow">
                        <a href="?page={{ goods.previous_page_number }}"><img src="{% static 'images/footer/left.svg' %}" alt=""></a>
                    </div>
                    {% comment %} <a href="?page=1">&laquo;</a> {% endcomment %}
                    <div class="previous_page">
                        <a href="?page={{ goods.previous_page_number }}">{{ goods.previous_page_number }}</a>
                    </div>
                {% endif %}
        
                <div class="current">
                    <a>{{ goods.number }}</a>
                </div>
        
                {% if goods.has_next %}
                    <div class="next_page">
                        <a href="?page={{ goods.next_page_number }}">{{ goods.next_page_number }}</a>
                    </div>
                    <div class="arrow">
                        <a href="?page={{ goods.next_page_number }}"><img src="{% static 'images/footer/right.svg' %}" alt=""></a>
                    </div>
                    {% comment %} <a href="?page={{ goods.paginator.num_pages }}">&raquo;</a> {% endcomment %}
                {% endif %}
                </div>
        </div>
        
        



    </div>
        <div class ="footer-div">
            <footer>
                    <div class="nav-footer">
                        <div class="name">
                            <h5>РАЗДЕЛЫ</h5>
                        </div>
                        <div class="foot-content">
                            <p>SALE</p>
                            <p>ОБУВЬ</p>
                            <p>АКСЕССУАРЫ</p>
                            <p>ОДЕЖДА</p>
                            <p>БРЕНДЫ</p>
                        </div>
                    </div>
                    <div class="info-footer">
                        <div class="name">
                            <h5>ИНФОРМАЦИЯ</h5>
                        </div>
                        <div class="foot-content">
                            <p>КОНТАКТЫ</p>
                            <p>ДОСТАВКА</p>
                            <p>ОПЛАТА</p>
                            <p>ВОЗВРАТ</p>
                            <p>FAQ</p>
                        </div>
                    </div>
                    <div class="contacts-footer">
                        <div class="name">
                            <h5>КОНТАКТЫ</h5>
                        </div>
                        <div class="foot-content">
                            <p>8 (929) 665 44 19</p>
                            <p>highend.hill@mail.ru</p>
                            <p>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</p>
                            <p>Значок 1</p>
                            <p>Значок 2</p>
                        </div>
                    </div>
            </footer>
        </div>
    </div>
</body>
</html>