{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="banners">
    {% for banner in banners %}
    <div class="banner">
        <a href="{{banner.url}}">
            <img src="{{banner.image.url}}" alt="">
        </a>
    </div>
    {% endfor %}
</div>
<div class="list_goods">
    <div class="filter-toggle">Фильтры</div>
    <div class="filter-area">
        <form method="GET" action="{% url 'goods:shoes' %}" class="filter-form">
            <input type="text" name="search_query" placeholder="Поиск..." value="{{ request.GET.search_query }}">

            <select name="brand">
                <option value="">Все бренды</option>
                {% for brand in brands %}
                    <option value="{{ brand.id }}" {% if brand.id == request.GET.brand %}selected{% endif %}>{{ brand.name }}</option>
                {% endfor %}
            </select>

            <select name="sizes">
                <option value="">Все размеры</option>
                {% for size in sizes %}
                    <option value="{{ size.id }}" {% if size.id == request.GET.sizes %}selected{% endif %}>{{ size.size }}</option>
                {% endfor %}
            </select>

            <input type="number" name="min_price" placeholder="Цена от" value="{{ request.GET.min_price }}">
            <input type="number" name="max_price" placeholder="Цена до" value="{{ request.GET.max_price }}">

            <button type="submit">Применить</button>
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var filterToggle = document.querySelector('.filter-toggle');
            var filterArea = document.querySelector('.filter-area');
            
            filterToggle.addEventListener('click', function() {
                filterArea.style.display = filterArea.style.display === 'none' ? 'block' : 'none';
            });
        });
    </script>
    {% comment %} <div class="filter">
        <form method="GET" action="{% url 'goods:shoes' %}">
        <h3>Price Range:</h3>
        <input type="text" name="min_price" placeholder="Min Price">
        <input type="text" name="max_price" placeholder="Max Price">
    
        <h3>Brands:</h3>
        <ul>
            {% for brand in brands %}
                <li><input type="checkbox" name="brand" value="{{ brand.id }}"> {{ brand.name }}</li>
            {% endfor %}
        </ul>
    
        <h3>Sizes:</h3>
        <ul>
            {% for size in sizes %}
                <li><input type="checkbox" name="size" value="{{ size.id }}"> {{ size.size }}</li>
            {% endfor %}
        </ul>
    
        <button type="submit">Apply Filter</button>
    </form>
    </div> {% endcomment %}
    
    
</div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const selectedBrand = '{{ request.GET.brand }}';
            const selectedSize = '{{ request.GET.sizes }}';
            document.querySelector('select[name="brand"]').value = selectedBrand;
            document.querySelector('select[name="sizes"]').value = selectedSize;
        });
    </script>
</div>
{% if flag %}
<div class="blocks-catalog">
    {% for good in goods %}
    <div class="content-block">
        <a href="{% url 'goods:shoe' good.id %}">
        <div class="photo">
            <img src="{{good.images.url}}" alt="">
        </div>
        <div class="info">
            <h3>{{good.brand}}</h3>
            <p>{{good.name}}</p>
            <p>ОТ {{good.price}} ₸</p>
        </div>
        </a>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    <div class="step-links">
        {% if goods.has_previous %}
            <div class="arrow">
                <a href="?page={{ goods.previous_page_number }}"><img src="{% static 'images/footer/left.svg' %}" alt=""></a>
            </div>
            <div class="previous_page">
                <a href="?page={{ goods.previous_page_number }}">{{ goods.previous_page_number }}</a>
            </div>
        {% endif %}

        <div class="current">
            <a>{{ goods.number }}</a>
        </div>

        {% if goods.has_next %}
            <div class="next_page">
                <a href="?page={{ goods.next_page_number }}">{{ goods.next_page_number }}</a>
            </div>
            <div class="arrow">
                <a href="?page={{ goods.next_page_number }}"><img src="{% static 'images/footer/right.svg' %}" alt=""></a>
            </div>
            {% comment %} <a href="?page={{ goods.paginator.num_pages }}">&raquo;</a> {% endcomment %}
        {% endif %}
        </div>
</div> 
{% else %}
<a href="https://t.me/highend_hill">
    <div class="not-found">
        <div class="first-part"><h4>В КАТАЛОГЕ НЕТ ИНТЕРЕСУЮЩЕЙ МОДЕЛИ?</h4></div>
        <div class="second-part"><h4>ВЫ ВСЕГДА МОЖЕТЕ ОФОРМИТЬ ИНДВИДУАЛЬНЫЙ ЗАКАЗ, НАПИСАВ НАШЕМУ МЕНЕДЖЕРУ</h4></div>
        <!-- <img src="static/images/header/info.png" alt=""> -->
    </div>
</a>
{% endif %}

{% endblock main %}