{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="product-box">
    <div class="images-block">
        <div class="img-shoe">
            <img id="main-image" src="{{ product.images.url }}" alt="">
        </div>
        <div class="other-views">
            {% for img in product.show_images.all %}
            <div class="view" data-image-url="{{ img.img.url }}">
                <img src="{{ img.img.url }}" alt="">
            </div>
            {% endfor %}
        </div>
        
        <div class="info-box">
            <div class="bttns">
                <div>
                    <button onclick="showCategory('category1')">Описание</button>
                </div>
                <div>
                    <button onclick="showCategory('category2')">Доставка</button>
                </div>
                <div>
                    <button onclick="showCategory('category3')">Способы оплаты</button>
                </div>
                <div>
                    <a href="{% url "goods:faq" %}">FAQ</a>
                </div>
            </div>
            <div class="content-info" id="category-content">
                {{ product.description }}
            </div>
            <script>
                const mainImage = document.getElementById('main-image');
                const imageViews = document.querySelectorAll('.view');

                imageViews.forEach((imageView) => {
                    imageView.addEventListener('click', () => {
                        const imageUrl = imageView.getAttribute('data-image-url');
                        mainImage.src = imageUrl;
                    });
                });

                function showCategory(category) {
                    var cont = `{{ product.description }}`;
                    const contentInfo = document.getElementById('category-content');

                    if (category === 'category1') {
                        contentInfo.innerText = cont;
                    } else if (category === 'category2') {
                        contentInfo.innerHTML = `
                            <h5>1.	Сколько занимает доставка из High-End Hill?</h5>
                            Средний срок доставки товара от момента покупки до его прибытия в наш магазин в Алматы составляет 10-20 дней.<br><br>
                            
                            <h5>2.	Что происходит с заказом после оплаты?</h5>
                            После оформления заказа и оплаты, процесс доставки протекает следующим образом:<br><br>
                            1. Заказ передается на закупку. Этот этап занимает от 1 до 3 часов в рабочее время.<br>
                            2. После выкупа мы ожидаем поступления товара на наш склад в Китае. Обычно это занимает от 2 до 3 дней. Однако, в некоторых случаях товар может прибыть уже через 1 день или затянуться до 6 дней.<br>
                            3. После получения товара на складе в Китае, мы отправляем его в Казахстан на следующий день. Срок доставки до нашего магазина в Алматы составляет около 10-15 дней.<br>
                            4. После прибытия товара, наш менеджер свяжется с вами для дальнейших инструкций и уточнения информации о получении заказа.<br><br>
                            
                            <h5>3.	Как работает система доставки в High End Hill?</h5>
                            После оформления заказа и оплаты, у вас будет возможность выбрать удобный способ доставки и указать необходимые данные получателя. Вот варианты доставки, которые мы предлагаем:
                            <br><br>
                            1. Для доставки в Алматы:<br><br>
                            •	Самовывоз из нашего магазина. Если вы находитесь в Алматы и предпочитаете самостоятельно забрать заказ, вы можете приехать в наш пункт выдачи по адресу: проспект Жибек Жолы 76.<br><br>
                            •	Курьерская доставка до вашего адреса. Мы осуществляем доставку вашего заказа курьерской службой прямо до вашей двери.<br><br>
                            
                            2. Для заказов, отправляемых в другие города Казахстана:<br><br>
                            •	Самовывоз из пункта выдачи СДЭК. Вы сможете выбрать удобный для вас пункт выдачи в вашем городе. Как только мы получим ваш заказ в Алматы, мы отправим его в указанный вами пункт выдачи СДЭК.<br><br>
                            •	Доставка курьером СДЭК до вашего дома. Мы организуем доставку вашего заказа курьером прямо к вам по указанному адресу.<br><br>
                            
                            <h5>4.	Как обеспечивается сохранность заказа при доставке?</h5>
                            Наши доставки осуществляются с полной гарантией сохранности вашего заказа. Мы предоставляем полное страхование и обеспечиваем своевременное и качественное исполнение всех заказов.<br><br>
                            
                            <h5>5.	Дополнительная информация</h5>
                            •	Доставка по Казахстану оплачивается дополнительно?<br><br>
                            Да, доставка из Алматы до вашего города или по городу Алматы оплачивается отдельно при получении. Стоимость доставки рассчитывается непосредственно в пункте СДЭК или в приложении доставки курьером.<br><br>
                            •	Если у меня нет СДЭК, могу я оформить доставку КазПочтой или другой компанией?<br><br>
                            Да, вы можете оформить доставку почтой Казахстана или любой другой компанией. Для этого с вами свяжется менеджер и уточнит все детали и ваши предпочтения.<br><br>
                            •	На кого я могу оформить покупку?<br><br>
                            Оформление заказа вы можете делать как на себя, так и на другого человека. Например, если хотите сделать кому-то подарок или занимаетесь перепродажей кроссовок, то вы сразу можете оформить доставку до адреса вашего покупателя.
                            
                        `;
                    } else if (category === 'category3') {
                        contentInfo.innerText = 'Способы оплаты';
                    }
                }
            </script>
        </div>

    </div>
    <div class="info-price-box">
        <div class="name-box">
            <h1>{{product.brand}} {{product.name}}</h1>
        </div>
        <div class="price-box">
            <h2>ОТ {{product.price}}₸</h2>
        </div>
        <div class="sizes-box">
            <form method="post" id="add-to-cart-form" action="{% url 'goods:add_to_cart' product_id=product.id %}">
                {% csrf_token %}
                <input type="hidden" name="size" id="selected-size">
                {% for size in product.sizes.all %}
                    <div class="size">
                        <button type="button" class="size-btn" data-size="{{ size }}">
                            <h3>{{ size }} EU</h3>
                        </button>
                    </div>
                {% endfor %}

        </div>
        <div class="add_to_buy">
            <form method="post" id="add-to-cart-form" action="{% url 'goods:add_to_cart' product_id=product.id %}">
                {% csrf_token %}
                <input type="hidden" name="selected_size" id="selected-size" value="">
                <button type="submit" class="add-to-cart-btn">
                    <span class="btn-text">Добавить в корзину</span>
                    <span class="added-text">Добавлено</span>
                </button>
            </form>
        </div>
        
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const sizeButtons = document.querySelectorAll('.size-btn');
            const addToCartForm = document.getElementById('add-to-cart-form');
            const selectedSizeInput = document.getElementById('selected-size');
            const addBtn = document.querySelector('.add-to-cart-btn');
            const addedText = document.querySelector('.added-text');
        
            sizeButtons.forEach(button => {
                button.addEventListener('click', function() {
                    sizeButtons.forEach(btn => {
                        btn.classList.remove('selected');
                    });
        
                    button.classList.add('selected');
                    const selectedSize = button.getAttribute('data-size');
        
                    selectedSizeInput.setAttribute('value', selectedSize);  // Устанавливаем выбранный размер в скрытое поле
                });
            });
        
            
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#add-to-cart-form').submit(function(event) {
                event.preventDefault();

                const selectedSize = $('#selected-size').val();

                if (!selectedSize || selectedSize === 'None') {
                    alert('Пожалуйста, выберите размер перед добавлением в корзину!');
                } else {
                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('action'),
                        data: $(this).serialize(),  // Отправляем данные из формы
                        success: function(response) {
                            $('.add-to-cart-btn').addClass('added');
                            $('.add-to-cart-btn').attr('disabled', true);
                            $('.added-text').css('display', 'inline');

                            setTimeout(function() {
                                // Можно добавить дополнительную логику после успешного добавления в корзину
                            }, 1000);
                        },
                        error: function(xhr, errmsg, err) {
                            console.log(xhr.status + ": " + xhr.responseText);  // Обработка ошибок
                        }
                    });
                }
            });
        });
    </script>
    {% endblock main %}
</div>
{% block content %}
    {% include "includes/others.html" %}
    {% include "includes/reverse.html" %}
{% endblock content %}