{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="product-box">
    <div class="images-block">
        <div class="img-shoe">
            <img id="main-image" src="{{ product.images.url }}" alt="">
        </div>
        <div class="other-views">
            {% for img in product.show_images.all %}
            <div class="view" data-image-url="{{ img.img.url }}">
                <img src="{{ img.img.url }}" alt="">
            </div>
            {% endfor %}
        </div>
        
        <div class="info-box">
            <div class="bttns">
                <button onclick="showCategory('category1')">Описание</button>
                <button onclick="showCategory('category2')">Доставка</button>
                <button onclick="showCategory('category3')">Способы оплаты</button>
                <button onclick="showCategory('category4')">FAQ</button>
            </div>
            <div class="content-info" id="category-content">
                {{ product.description }}
            </div>
            <script>
                const mainImage = document.getElementById('main-image');
                const imageViews = document.querySelectorAll('.view');

                imageViews.forEach((imageView) => {
                    imageView.addEventListener('click', () => {
                        const imageUrl = imageView.getAttribute('data-image-url');
                        mainImage.src = imageUrl;
                    });
                });

                function showCategory(category) {
                    var cont = `{{ product.description }}`;
                    const contentInfo = document.getElementById('category-content');

                    if (category === 'category1') {
                        contentInfo.innerText = cont;
                    } else if (category === 'category2') {
                        contentInfo.innerText = 'Доставка';
                    } else if (category === 'category3') {
                        contentInfo.innerText = 'Способы оплаты';
                    } else if (category === 'category4') {
                        contentInfo.innerText = 'FAQ';
                    }
                }
            </script>
        </div>

    </div>
    <div class="info-price-box">
        <div class="name-box">
            <h1>{{product.name}}</h1>
        </div>
        <div class="price-box">
            <h2>ОТ {{product.price}}₸</h2>
        </div>
        <div class="sizes-box">
            <form method="post" id="add-to-cart-form" action="{% url 'goods:add_to_cart' product_id=product.id %}">
                {% csrf_token %}
                <input type="hidden" name="size" id="selected-size">
                {% for size in product.sizes.all %}
                    <div class="size">
                        <button type="button" class="size-btn" data-size="{{ size }}">
                            <h3>{{ size }} EU</h3>
                        </button>
                    </div>
                {% endfor %}

        </div>
        <div class="add_to_buy">
           
                {% csrf_token %}
                <button type="submit">
                    <h2>ДОБАВИТЬ В КОРЗИНУ</h2>
                </button>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const sizeButtons = document.querySelectorAll('.size-btn');
            const addToCartForm = document.getElementById('add-to-cart-form');
            const selectedSizeInput = document.getElementById('selected-size');
        
            sizeButtons.forEach(button => {
                button.addEventListener('click', function() {
                    sizeButtons.forEach(btn => {
                        btn.classList.remove('selected');
                    });
        
                    button.classList.add('selected');
                    const selectedSize = button.getAttribute('data-size');
        
                    selectedSizeInput.setAttribute('value', selectedSize);  // Устанавливаем выбранный размер в скрытое поле
                });
            });
        
            addToCartForm.addEventListener('submit', function(event) {
                const selectedSize = selectedSizeInput.value;
        
                if (!selectedSize || selectedSize === 'None') {
                    event.preventDefault();
                    alert('Пожалуйста, выберите размер перед добавлением в корзину!');
                } else {
                    // Здесь добавьте логику отправки выбранного товара в корзину
                }
            });
        });
    </script>
    {% endblock main %}
</div>
{% block content %}
    {% include "includes/others.html" %}
    {% include "includes/reverse.html" %}
{% endblock content %}