{% extends "base.html" %}
{% load static %}
{% block main %}
    <div class="banner-ind">
        <a href ="{{banner.url}}">
            <div class="banner-f">
                <img src="{{banner.image.url}}" alt="">
            </div>
        </a>
    </div>
    <div class="banner-ind-2">
        <a href ="{{banner_mobile.url}}">
            <div class="banner-f">
                <img src="{{banner_mobile.image.url}}" alt="">
            </div>
        </a>
    </div>
    <div class="popular">
        <div class="text-area">
            <div class="most">
                <a href="{% url "goods:popular" %}"><h2>MOST POPULAR</h2></a>
            </div>
            <div class="most">
                <a href="{% url "goods:popular" %}"><h2>SEE ALL</h2></a>
            </div>
        </div>
        <div class="blocks">
            {% for good in liked %}
            <div class="content-block">
                <a href="{% url 'goods:shoe' good.id %}">
                <div class="photo">
                    <img src="{{good.images.url}}" alt="">
                </div>
                <div class="info">
                    <h3>{{good.brand}}</h3>
                    <p>{{good.name}}</p>
                    <p>ОТ {{good.price}}₸</p>
                </div>
            </a>
            </div>
            {% endfor %}
        </div>
    </div>
            
    <div class="new-models">
        <div class="text-area">
            <div class="most">
                <a href="{% url "goods:new" %}"><h2>NEW MODELS</h2></a>
            </div>
            <div class="most">
                <a href="{% url "goods:new" %}"><h2>SEE ALL</h2></a>
            </div>
        </div>
        <div class="blocks">
            {% for good in goods %}
            <div class="content-block">
                <a href="{% url 'goods:shoe' good.id %}">
                <div class="photo">
                    <img src="{{good.images.url}}" alt="">
                </div>
                <div class="info">
                    <h3>{{good.brand}}</h3>
                    <p>{{good.name}}</p>
                    <p>ОТ {{good.price}}₸</p>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="https://t.me/highend_hill">
    <div class="not-found">
        <div class="first-part"><h4>В КАТАЛОГЕ НЕТ ИНТЕРЕСУЮЩЕЙ МОДЕЛИ?</h4></div>
        <div class="second-part"><h4>ВЫ ВСЕГДА МОЖЕТЕ ОФОРМИТЬ ИНДВИДУАЛЬНЫЙ ЗАКАЗ, НАПИСАВ НАШЕМУ МЕНЕДЖЕРУ</h4></div>
        <!-- <img src="static/images/header/info.png" alt=""> -->
    </div>
    </a>
{% endblock main %}