body, h1, h2, h3, h4, h5, p, img, nav, li, ol, a footer{
    padding: 0;
    margin: 0;
}

body {
    max-width: 2800px;
    width: 100%;
    height: 100vh;
    font-family: "Oswald", sans-serif;
}

body .container{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100vi
}

.upper {
    flex: 1 1 auto;
}

p {
    font-size: 25px;
    font-weight: 300;
}

.container-2 {
    margin: 0 10%;
    flex: 1 1 auto;
    /* overflow:hidden; */
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid;
    margin-top: 40px;
}

.logo {
    margin: 0;
    padding: 0;
    margin-top: -75px;
    margin-bottom: 50px;
    max-height: 140px;
}

.logo a img {
    width: 260px;
}

.nav-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -30px;
}

.nav-item{
    margin: 0 40px;
}

.nav-item:first-child{
    margin-left: 0;
}

.nav-item:last-child{
    margin-right: 0;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -30px;
}

.icon {
    margin: 0 8px;
}

.icon:first-child{
    margin-left: 0;
}

.icon:last-child{
    margin-right: 30px;
}

.icon a span{
    font-weight: 300;
    padding: 0;
    font-size: 25px;
    margin: 0 5px 0 5px;
    text-transform: uppercase;
}

.icon a {
    display: flex;
    align-items: center;
}

.icon a img {
    width: 26px;
}


.banner-ind {
    margin-top: 50px;
    position: relative;
}

.banner-f img{
    width:100%;
    height:auto;
}

.banners {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.banner {
    flex: 0 0 30%;
}

.banner a img {
    display: block;
    width: 100%;
    height: auto;
}

h2, a {
    font-family: "Oswald", sans-serif;
    font-size: 45px;
    font-weight: 400;
    padding: 5px 0;
    text-transform: none;
    text-decoration: none;
    color: black;
}

.new-models {
    margin: 40px 0
}

.popular .text-area, .new-models .text-area {
    display: flex;
    justify-content: space-between;
}

.content-block {
    flex: 0 0 40%;
}

.content-block .info {
    border-top: black 2px solid;
}

.photo {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    align-self: center;
}

.photo img {
    width: 100%;
    height: auto;
    /* height: 300px; */
    display: block;
}

.content-block .info p, h3 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-weight: 200;
    margin: 0px;
    padding: 4px;
}

h3 {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    font-weight: 400;
}

.content-block .info :last-child {
    margin-bottom: 2%;
}

.size-btn h3 {
    font-weight: 200;
    width: 110px;
    padding: 5px 5px;
}

.not-found {
    background-image: url("../images/header/info.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: 5px 0 25px 0;
}

h4 {
    font-family: "Oswald", sans-serif;
    font-size: 45px;
    color: white;
    font-weight: 400;
}

.first-part {
    max-width: 30%;
    align-self: flex-start;
    padding: 3% 0 0 3%;
}

.second-part {
    max-width: 45%;
    align-self: flex-end;
    padding: 0 3% 3% 0;
}

h5 {
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    font-weight: 400;
    padding: 15px 0;
}

.footer-div {
    align-self: normal;
    flex: 0 0 auto;
}

footer{
    background-color: #000;
    color: white;  
}

footer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    padding-bottom: 80px;
}


.nav-footer, .info-footer, .contacts-footer {
    margin: 20px 10% 100px 10%;
}

.nav-footer {
    margin-left: 5%;
}

.foot-content a{
    padding: 0px;
    /* margin: 5px; */
}

.foot-content a p, .foot-content p{
    color: white;
    font-weight: 200;
    font-size: 25px;
    padding-top: 10px;
    margin: 0;
}

.foot-content a p :last-of-type{
    padding-bottom: 20px;
}

.foot-content h3 {
    font-weight: 200;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

/* .foot-content img {
    margin-top: 10px;
} */


.all {
    border: #000 1px solid;
    color: black;
    font-family: "Oswald";
    font-weight: 400;
    padding: 5px;
}

button {
    background: white;
    padding: 0.5em 1em;
    border-left: #000 1px solid;
    border-top: #000 1px solid;;
}


.step-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.previous_page, .next_page, .current {
    padding: 1%;
}

.previous_page a, .next_page a, .current a {
    color: #BDBDBD;
    font-size: 25px;
    height: 30px;
    padding: 10px;
}

.current a{
    color: #000;
    padding: 20px 20px;
    opacity: 0.8;
}

.previous_page:hover, .next_page:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.arrow {
    position: relative;
    bottom: 13px;
    padding: 0 20px;
}


.filter-area {
    width: 100%;
    margin-top: 20px;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

input[type="text"],
select {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 20%;
    text-align: center;
}

button {
    padding: 5px 10px;
    background-color: #000;
    font-size: 40px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Страница конкретного товара */


.product-box {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 200px;
}

.info-price-box {
    order: 1;
    margin-top: 100px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    /* padding-left: 8%;
    padding-right: 10%; */
    text-transform: uppercase;
    width: 45%;
    min-width: 400px;
}

.images-block {
    order: 2;
    /* margin-right: 10%; */
    margin-top: 100px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 400px;
}

.img-shoe {
    width: 100%;
}

.img-shoe img {
    border: 2px #000 solid;
    width: 100%;
}

.info-price-box .price-box{
    margin: 30px 0;
}

.info-price-box .price-box h2{
    font-weight: 300;
    color: #1f1e1e;
}
.sizes-box {
    width: 100%;
}

.sizes-box form{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
}

.size {
    margin: 6px;
    /* max-width: 30%; */
    /* background-color: #0056b3; */
    /* min-width: 120px; */
    /* width: 18%; */
    text-align: center;
}

.size button {
    background-color: white;
    color: #000;
}

.size button:hover {
	background-color: black;
	color: white;
	/* box-shadow: inset 0 1 2 8px black ; */
}


.info-box {
    margin-top: 30px;
    width: 100%;
}

.bttns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bttns div button, .bttns div a {
    color: #000;
    background-color: white;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.content-info {
    margin-top: 30px;
    font-weight: 200;
    text-align: justify;
    max-width: 100%;
    font-size: 30px;
}

.other-views {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.other-views .view {
    width: 30%;
}

.other-views .view img {
    border: 2px #000 solid;
    margin-right: 20px;
    margin-top: 30px;
    width: 100%;
}

.other-views :last-child{
    margin-right: 0;
}

.reverse-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6% 0;
}

.txt-reverse p{
    font-size: 40px;
}

.txt-reverse {
    padding-right: 2%;
}

.svg-reverse {
    padding-left: 2%;
}

.size button {
    text-align: center;
    padding: 8px;
    border: #000 solid 1px;
    border-radius: 15px;
}

button h3{
    font-size: 30px;
    padding: 0;
    margin: 0;
}


.size-btn {
    /* border: #000 solid 1px;
    border-radius: 15px; */
    padding: 5px;
    margin: 0;
    width: 100%;
    text-align: center;
    
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.size-btn.selected {
    background-color: black;
    color: white;
}

input form {
    margin: 0;
    padding: 0;
}

.add-to-cart-btn {
    margin-top: 55px;
    padding: 30px 50px;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.btn-text {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    position: relative;
    top: -5px;
}

.added-text {
    display: none;
    color: white;
    text-transform: uppercase;
    margin-left: 10px;
    position: relative;
    top: -5px;
}

.added {
    background-color: rgba(137, 136, 136, 0.5)!important;
}

/* Корзина */
.cart-box{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    /* background-color: #0056b3; */
}

.positions-cart .name-empty {
    margin-top: 0;
}

.empty_cart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty_cart a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-empty {
    margin-top: 30px;
}

.empty p {
    font-size: 60px;
    font-weight: 200;
    text-align: center;
    color: gray;
}

.empty {
    margin-top: 20px;
}

.name h2, .name-empty h2{
    font-size: 60px;
    font-weight: 300;
}

ul li {
    list-style: none;

}

.position li {
    display: flex;
    align-items: center;
    margin-top: 40px;
}


.position-img {
    width: 35%;
}

.position-img img {
    min-width: 120px;
    width: 100%;
    height: auto;
    /* border-right: #000 solid 1px; */
}

.position-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 40px;
}

.position-info .name_size {
    padding: 15px 0;
}

.brand h1 {
    font-weight: 400;
    font-size: 40px;
}

.name_size h2 {
    font-weight: 200;
    font-size: 40px;
}

.form-block form, .delete form{
    background-color: white;
}

.delete {
    align-self: flex-start;
}

.delete form button {
    background-color: white;
    padding: 0;
    margin-left: 10%;
}

.form-block form button {
    background-color: white;
}

.form-block form input {
    max-width: 40px;
}

.price-first {
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
}


.price-first:first-child{
    margin-top: 50px;
}

.price-first .text-area p, .price-first .money p{
    font-size: 40px;
    font-weight: 200;
}

.price-first .text-area{
    max-width: 70%;
}

#res-bord {
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.code {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}

.btn-code button{
    font-size: 40px;
    font-weight: 200;
    color: #000;
    background-color: white;
}

.code-info {
    margin-top: 20px;
    font-size: 45px;
    font-weight: 500;
    color: #000;
    background-color: white;
}

/* FAQ */
.faq-blocks {
    position: relative;
    overflow:hidden;
    margin-top: 50px;
}

.question {
    display: flex;
    justify-content: space-between;
}

.question-block {
    border-bottom: #000 1px solid;
}

/* .question-block img {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    max-width: 100%;
    width: 100%;
    height: 1px;
    object-fit:cover;
} */
/* .question img {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:300px;
    height:300px;
    object-fit:cover;
} */

.question .btn {
    max-width: 80%;
}

.question .btn button {
    background-color: white;
    color: #000;
    padding: 0;
    margin: 30px 0;
    font-size: 45px;
    font-weight: 400px;
    text-align: left;
}

.answer {
    font-size: 40px;
    font-weight: 300;
    max-width: 90%;
    padding-bottom: 40px;
}

.question-block:last-of-type {
    margin-bottom: 150px;
}

/* Стилизация формы фильтров */
/* Стилизация выпадающих списков */
.all select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px;
    margin: 5px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 12px;
    background-color: #f9f9f9;
    position: relative;
    cursor: pointer;
}

.all select::-ms-expand {
    display: none;
}

.all select option {
    background-color: #f9f9f9;
    color: #333;
}

.all select:after {
    content: '\25BC';
    font-size: 12px;
    color: #555;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* .new-models .blocks .content-block, .popular .blocks .content-block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.new-models .blocks .content-block, .popular .blocks  .content-block{
    border: #000 2px solid;
} */

.pagination {
    margin-top: 50px;
    margin-bottom: 50px;
}


.blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* overflow:hidden; */
    width: 100%;
    height:auto;
    font-size: 70px;

    margin-top: 20px;
}

.blocks-catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.content-block {
    max-width: 32%;

    width: 100%;
    border: black 2px solid;
}

.content-block :last-child{
    margin-right: 0;
}

.blocks-catalog .content-block{
    border: none;
    display: inline-block;
    margin: 10px 35px 10px 20px;
    max-width: 20%;
    min-width: 100px;
}

.blocks .content-block {
    min-width: 120px;
}

.name-box h1{
    font-weight: 400;
}

.fltrs {
    max-width: 25%;
}

.centered-number-input {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.centered-number-input input {
    border: none;
    background-color: white;
    font-size: 25px;
}

.decrement, .increment {
    padding: 5px 10px;
    margin: 0 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.quantity {
    padding: 5px 10px;
    text-align: center;
    width: 50px;
}

.filter-toggle {
    font-size: 20px;
    border: none;
    background-color: #000;
    color: white;
    font-weight: 200;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 50px;
    user-select: none;
    position: relative;
    padding-right: 40px;
}

.filter-toggle::after {
    content: "-";
    font-size: 30px;
    display: block;
    position: absolute;
    right: 10px;
    line-height: 1;
}

.filter-toggle:not(.active)::after {
    content: "+";
    font-size: 30px;
}

.filter-area {
    display: none;
    margin-bottom: 20px;
    position: relative;
    left: -10px;
    margin-right: 20px;
}

.filter-area.active {
    display: block;
}

.filter-area input[type=number], .filter-area select, .filter-area input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
}

.filter-area select[multiple] {
    height: auto;
    background-color: #f7f7f7;
}

.popular, .list_goods {
    margin: 20px 0;
}

.list_goods{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.filter-area form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}


.filter-price, .filter-srch, .filter-brd, .filter-sizes, .filter-btn, .filter-models{
    width: 100%;
    margin-top: 25px;
    font-size: 30px;
    
}

.filter-brd select, .filter-sizes select, .filter-models select{
    margin-top: 10px;
    max-width: 100%;
    font-weight: 200;
}

.filter-price input, .filter-srch input {
    margin-top: 10px;
    text-align: left;
    font-weight: 200;
    width: 100%;
}

label {
    font-size: 30px;
    font-weight: 200;
    width: 100%;
}

.filter-btn button {
    width: 100%;
    padding: 20px;
    font-weight: 200;
    font-size: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.return h2 {
    margin-top: 30px;
    font-size: 40px;
}

.answer-return p {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
}

.inspiration {
    margin-bottom: 50px;
    max-width: 100%;
    width: 100%;
}

.inspiration .blocks{
    justify-content: space-between;
    flex-wrap: wrap;
}


.inspiration .blocks .content-block {
    max-width: 30%;
    flex: 0 0 30%;
    border: #000 2px solid;
    width: 100%;
}

.inspiration .blocks .content-block .photo img {
    display: block;
    width: 100%;
    height: auto;
}

.mobile-footer {
    display: none;
    border-top: #000 2px solid;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.mobile-footer .faq-blocks {
    position: relative;
    overflow:hidden;
    margin-top: 5px;
}

.mobile-footer .faq-blocks .question-block .question {
    display: flex;
    justify-content: space-between;
}


.mobile-footer .faq-blocks .question-block .question .btn button {
    background-color: white;
    color: #000;
    padding: 0;
    margin: 30px 10px;
    font-size: 35px;
    font-weight: 400px;
    text-align: left;
}

.mobile-footer .faq-blocks .question-block .answer p {
    font-size: 30px;
    font-weight: 300;
    padding-top: 8px;
    margin-left: 20px;
}

/* .mobile-footer .faq-blocks .question-block .answer a {
    padding: 2px;
} */

.mobile-footer .faq-blocks .question-block:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1599px) {
    .foot-content p, .foot-content a p, .foot-content h3 {
        font-size: 20px;
    }
    .name h5 {
        font-size: 25px;
    }
    p {
        font-size: 20px;
    }
    .icon a span{
        font-size: 20px;
    }
    .nav-item{
        margin: 0 20px;
    }
    .icon a img {
        width: 18px;
    }
    .content-block .info p, .content-block .info h3{
        font-size: 28px;
        margin: 0;
    }
    .content-block .info {
        padding: 5px 5px 0 5px;
    }
    h4 {
        font-size: 35px;
    }
    .most a h2, .text-area a h2{
        font-size: 30px;
    }
    .bttns div button, .bttns div a {
        font-size: 20px;
    }
}


#menu-toggle {
    display: none;
    font-weight: 100;
    color:white;
    background-color: white;
    height: 20px;
    border-bottom: #000 1px solid;
    border-top: #000 1px solid;
    border-radius: 0%;
    padding: 1px 25px;
    margin-bottom: 25px;
}

#sidebar {
    border-left: #000 solid 1px;
    display: none;
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background: white;
    transition: right 0.3s;
    z-index: 999; /* Добавьте z-index для корректного отображения поверх других элементов */
}

.sidebar-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 40px;
    padding: 5px 10px;
    border-bottom: #000 solid 1px;
}

.sidebar-menu div a p {
    font-size: 40px;
}


/* Показывать боковое меню при открытии */
#sidebar.active {
    right: 0;
}

@media screen and (max-width: 1199px) {
    .foot-content p, .foot-content a p, .foot-content h3 {
        font-size: 20px;
    }
    .name h5 {
        font-size: 25px;
    }
    p {
        font-size: 16px;
    }
    .icon a span{
        font-size: 16px;
    }
    .nav-item{
        margin: 0 8px;
    }
    .icon a img {
        width: 15px;
    }
    .content-block .info :last-child {
        margin-bottom: 2%;
    }
    .logo a img {
        width: 200px;
    }
    .logo {
        margin: 0;
        padding: 0;
        margin-top: -65px;
        margin-left: -40px;
        margin-bottom: 10px;
        max-height: 140px;
    }
    .bttns div button, .bttns div a {
        font-size: 19px;
    }
    .name h2 {
        font-size: 30px;
    }
    .price-first .text-area p, .price-first .money p {
        font-size: 25px;
    }
    .btn-code button {
        font-size: 30px;
    }
}

.blocks .content-block:last-child {
    display: none;
}

@media screen and (max-width: 1100px){
    .product-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .images-block {
        order: 0;
        width: 100%;
        margin-bottom: 0;
    }
    .info-price-box {
        order: 1;
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }
    .bttns div button, .bttns div a {
        font-size: 27px;
    }
    .info-box {
        display: none;
    }
}

@media screen and (max-width: 1080px){
    .content-block {
        margin-top: 20px;
        max-width: 40%;
        width: 100%;
    }
    .blocks {
        flex-wrap: wrap;
        margin-top: 0;
    }
    .blocks .content-block:last-child {
        display: block;
    }
    h4 {
        font-size: 30px;
    }
    .name-box h1{
        font-size: 55px;
    }
    .price-box h2 {
        font-size: 42px;
    }
    .add-to-cart-btn {
        margin-top: 35px;
        padding: 20px 30px;
        width: 100%;
    }
    .content-info {
        font-size: 20px;
    }
    .content-info h5 {
        font-size: 25px;
    }
    .inspiration .blocks .content-block {
        max-width: 45%;
        flex: 0 0 48%;
        border: #000 2px solid;
        width: 100%;
    }
    .size-btn h3 {
        font-size: 25px;
        font-weight: 200;
        width: 15px;
        padding: 2px 2px;
    }
    .size-btn {
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    .foot-content p, .foot-content a p, .foot-content h3 {
        font-size: 16px;
    }
    .name h5 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    h4 {
        font-size: 25px;
    }
    .icon{
        display: none;
    }
    .nav-1 {
        display: none;
    }
    #menu-toggle {
        display: block;
    }
    
    #sidebar {
        display: block;
    }

    .list_goods{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fltrs {
        max-width: 100%;
        align-self: flex-end;
    }
    .blocks-catalog .content-block{
        max-width: 40%;
    }
    .sidebar-menu div a p {
        font-size: 20px;
    }
    .cart-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .results {
        margin-top: 50px;
    }
}

.banner-ind-2 {
    display: none;
}

@media screen and (max-width: 680px){
    .blocks-catalog .content-block{
        border: none;
        display: inline-block;
        margin: 5px;
        max-width: 45%;
        min-width: 100px;
    }
    .content-block {
        max-width: 45%;
        width: 100%;
    }
    .sidebar-menu {
        margin: 20px 5px;
        padding: 5px 5px;
    }
    footer {
        display: none;
    }
    .mobile-footer {
        display: block;
    }
    .blocks .content-block {
        border: #000 1px solid;
    }
    .inspiration {
        margin: 60px 0;
    }
    .position-info {
        padding-left: 10px;
    }
    .delete form button {
        margin-left: 1%;
    }
    .banner-ind-2 {
        display: block;
    }
    .banner-ind {
        display: none;
    }
    .banner-ind-2 a .banner-f {
        margin-top: 20px;
    }
}

@media screen and (max-width: 580px) {
    #sidebar {
        right: -300px;
        width: 300px;
        height: 100%;
    }
    .sidebar-menu div a p {
        font-size: 20px;
    }
    h4 {
        font-size: 20px;
    }
    .most a h2{
        font-size: 25px;
    }
    .name-box h1 {
        font-size: 40px;
    }
    .price-box h2 {
        font-size: 35px;
    }
    .info-price-box .price-box{
        margin: 10px 0;
    }
    .size-btn h3 {
        font-size: 20px;
        font-weight: 200;
        width: 10px;
        padding: 2px 2px;
    }
    .size-btn {
        padding: 0;
    }
    .empty p {
        font-size: 40px;
        margin-top: 20px;
    }
    .name-empty {
        display: none;
    }
    .brand h1 {
        font-size: 28px;
    }
    .name_size h2 {
        font-size: 28px;
    }
    .delete {
        position: relative;
        right: 30px;
    }
    .banner{
        display: none;
    }
    .banner:first-child{
        display: block;
    }
    .banner {
        width: 100%;
        flex: 0 0 100%;
    }
    .content-block {
        flex: 0 0 49%;
    }
}

@media screen and (max-width: 380px) {
    #sidebar {
        right: -200px;
        width: 200px;
        height: 100%;
    }
    .sidebar-menu div a p {
        font-size: 15px;
    }
    h4 {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .content-block .info p {
        font-size: 16px;
    }
    .content-block .info h3 {
        font-size: 23px;
    }
    .info-price-box {
        width: 45%;
        min-width: 300px;
    }
    
    .images-block {
        width: 40%;
        min-width: 300px;
    }
}

#search-icon {
    cursor: pointer;
  }
  
  #search-input {
    margin: 0;
    width: 50%;
    height: 5%;
    padding: 5px;
    background-color: #fff;
  }

form .filter input {
    width: 80%;
    text-align: left;
}

form .tn button {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}