{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="faq-blocks">
    <div class="question-block">
        <div class="question">
            <div class="return">
                <h2>Если вам не подошел размер или вы просто хотите вернуть товар:</h2>
            </div>

        </div>
        <div class="answer-return">
            <p>
            High-End Hill является баером-посредником для заказа товаров из-за границы, поэтому обменять товар или вернуть за него деньги напрямую не получится. Потому что сроки обмена или возврата товаров у иностранного поставщика составляет 7 дней, а товары в Казахстане мы получаем спустя 9-15 дней после получения уже на складе за границей.<br><br>
            Поэтому, если вам не подошел размер, то вы можете воспользоваться нашей услугой возврата средств через реализацию товара на наших ресурсах.
            <br><br><b>Что это значит?</b><br><br>
            Вы отправляете товар обратно к нам в магазин. Называете стоимость, по которой хотите продать товар. Мы выставляем его на нашем сайте, странице и после реализации, возвращаем средства. Комиссия за реализацию товара составляет 5000 ₸.<br><br>
            <b>Важно!</b> Для реализации товара через нас необходимо, чтобы сохранилось полное наличие всех комплектующих (целые пломбы, сертификат, фирменные коробки и т.д) и конечно, отсутствие следов носки.
            </p>
        </div>
        <img src="{% static 'images/faq/faq-line.png' %}" id='fa'>
    </div>
</div>
{% endblock main %}